<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.juejinafter.mapper.ArticleMapper">
    <resultMap id="Article" type="com.example.juejinafter.pojo.Article">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="title" jdbcType="VARCHAR" property="title"/>
        <id column="author" jdbcType="VARCHAR" property="author"/>
        <id column="authorHead" jdbcType="VARCHAR" property="authorHead"/>
        <id column="date" jdbcType="VARCHAR" property="date"/>
        <id column="content" jdbcType="VARCHAR" property="content"/>
        <id column="click" jdbcType="INTEGER" property="click"/>
        <id column="like" jdbcType="INTEGER" property="like"/>
        <id column="comment" jdbcType="INTEGER" property="comment"/>
    </resultMap>
    <select id="listArticles" resultType="com.example.juejinafter.pojo.ArticleList">
        select * from list LIMIT #{page},#{size}
    </select>

    <select id="listRelate" resultType="com.example.juejinafter.pojo.ArticleList">
        select * from list where category = (select category from list where uuid =#{id} ) LIMIT #{page},#{size}
    </select>

    <select id="findArticleById" resultMap="Article">
        select * from list where uuid = #{id}
    </select>

    <select id="listArticlesLast" resultType="com.example.juejinafter.pojo.ArticleList">
        select * from list where category=#{category}  order by date desc  LIMIT #{page},#{size}
    </select>

    <select id="listArticlesFire" resultType="com.example.juejinafter.pojo.ArticleList">
        select * from list where category=#{category}  order by click desc  LIMIT #{page},#{size}
    </select>
    <insert id="insertList">
        INSERT INTO list ( `title`, `author`, `date`, `abstract`, `pic`, `click`, `like`, `comment`, `category`, `uuid`, `content`,`authorHead`) VALUES ( #{title}, #{author}, #{date}, #{abstractStr}, #{pic}, #{click}, #{like}, #{comment}, #{category}, #{uuid},#{content},#{authorHead});
    </insert>

</mapper>